<!-- Services Intro-->
<section class="services-intro">
  <div class="container">
    <h1>services</h1>
  </div>
</section>


<!-- Service Items -->
<section class="services">
  <div class="container">
    <div class="services__item">
      <h2>website design &amp; development</h2>
      <p>This is about custom designing and developing a web presence that accurately reflects the goals and values you have as a business or Entrepreneur. If you don't take your business seriously, no one else will. So don't leave something as important as your reputation up to the lowest bidder. I can create a design that looks and feels like the heart of your passions, and code the functionality to make it a smooth and enjoyable experience for your customers.</p>
    </div>
    <div class="services__item">
      <h2>marketing materials</h2>
      <p>Anything from print to online marketing materials, I can make a design that states your value proposition in a short concise way. With the ever growing amount of advertisements people are bombarded with, it's never been more important to have a strong visually identifying ad that states your mission and benefits in a single sentence. I'm a big believer in minimilist design and it's power to communicate clearly and effectively.</p>
    </div>
    <div class="services__item">
      <h2>seo &amp; online marketing</h2>
      <p>Content is king when it comes to SEO &amp; Online Marketing. No matter how many hits your website gets people won't come back if the material is lacking. Even the popular search engines realize this and include ways in their algorithms to rank pages with quality, updated content higher than others. Apart from quality content, the other half of SEO is in the structure, semantics, and organization of your content. I structure every new website in the most effective way that makes it easier for search engines to rank it and for other developers to maintain it in the future.</p>
    </div>
    <div class="services__item">
      <h2>business development consulting</h2>
      <p>Growing your business idea can be a big and intimidating task. In order to grow naturally you need to know what you believe and what your product or service stands for. Like many other things, you must have a solid foundation to have any lasting success. I can help you grow your ideas into a business that's a fulfilling extension of your life's passions through face to face meetings where we focus on creating your value and organizing ideas into actionable behaviors.</p>
    </div>
  </div>
</section>


<!-- The Process -->
<section class="process">
  <div class="container">
    <h2>The Process</h2>
    <div class="process__item col-sm-3">
      <h3>identify</h3>
      <p>It all starts with clearly identifying a need. A need to communicate, inform, educate, sway opinion, or to sell. Then to address the need with an intelligent design and strategy. Having defined your goals, you can go forward with clarity to build an effective business or project.</p>
    </div>
    <div class="process__item col-sm-3">
      <h3>research</h3>
      <p>This stage is all about gaining a fundamental understanding about how the industry works, identifying your competitors, what makes your business unique, and learning what works versus what has failed in the past. This is arguably the most important stage, as a deep understanding and thorough research will lead to a strong final product.</p>
    </div>
    <div class="process__item col-sm-3">
      <h3>develop</h3>
      <p>Having the knowledge and research done in previous stages gives us the ability to accurately develop the form of the final product. The majority of work happens here, setting up infrastructures, coding, designing, strategizing and getting feedback.</p>
    </div>
    <div class="process__item col-sm-3">
      <h3>refine</h3>
      <p>After the final form of the product is developed, we can then refine it. Everything from adjusting the color scheme to tweaking the text. We make a thorough run through of the project to make sure it communicates what we want.</p>
    </div>
  </div>
</section>