//===== Mixins =====//

@mixin text($size, $weight, $family, $color, $line) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
  color: $color;
  line-height: $line;
}

@mixin page-header() {
    @include text(1.5rem, $font__weight--bold, $font__family--primary, $color__primary, $line__height--base);
    text-transform: uppercase;
    margin-top: 25px;
}



















